/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone 
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
  body::-webkit-scrollbar {
    width: 0.8rem; }
  body::-webkit-scrollbar-thumb {
    background-color: #150e28;
    border: 1px solid rgba(238, 238, 238, 0.2);
    border-radius: 0.4rem; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.primary-heading {
  font-family: Helvetica;
  font-size: 8rem;
  font-weight: 700;
  line-height: normal; }
  .primary-heading--main {
    display: block; }
    .primary-heading--main .one-zero {
      color: #903aff; }

.secondary-heading {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: normal; }

.italic {
  font-style: italic;
  user-select: auto;
  -webkit-user-select: auto; }

.tertiary-heading {
  font-size: 3.2rem;
  font-weight: 700; }

.tertiary-heading--1 {
  font-size: 2rem;
  font-weight: 400; }

.paragraph {
  font-size: 1.4rem;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 10rem !important; }

.u-margin-top-huge {
  margin-top: 18rem !important; }

.bt-border {
  border-bottom: 1px solid rgba(21, 14, 40, 0.8); }

.btn {
  border: none;
  background: linear-gradient(to right, #fe34b9, #903aff);
  color: inherit;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 400;
  padding: 2rem 6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.3s; }
  .btn:hover {
    background: linear-gradient(to right, #903aff, #fe34b9);
    transform: translateY(-0.3rem);
    box-shadow: 0 0 0.1rem #92fcf8, 0 0 0.5rem #92fcf8, 0 0 2.5rem #92fcf8, 0 0 5rem #92fcf8; }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    outline: none;
    background: linear-gradient(to right, #fe34b9, #903aff);
    transform: translateY(-0.1rem);
    box-shadow: 0 0 0 #92fcf8, 0 0 0.25rem #92fcf8, 0 0 0.5rem #92fcf8, 0 0 2.5rem #92fcf8; }

.purple-lens {
  height: 94rem;
  width: 103rem;
  position: absolute;
  pointer-events: none; }
  .purple-lens-flare {
    background-blend-mode: hard-light;
    height: 100%;
    width: 100%;
    mix-blend-mode: screen; }

.section__hero {
  position: relative; }
  .section__hero-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    background-color: #150e28;
    padding: 4rem 12rem 3rem 12rem;
    overflow: hidden; }
    .section__hero-container--1 {
      z-index: 99; }
      .section__hero-container--1 .spark {
        margin-left: -1.5rem; }
      .section__hero-container--1 div div:has(.hour, .minute, .second) {
        font-size: 6.4rem;
        user-select: none;
        -webkit-user-select: none; }
        .section__hero-container--1 div div:has(.hour, .minute, .second) small {
          font-size: 1.6rem; }
      .section__hero-container--1 .purple-lens {
        top: -40%;
        left: -2%;
        z-index: -1; }
    .section__hero-container--2 {
      position: relative;
      user-select: none;
      -webkit-user-select: none; }
      .section__hero-container--2 .purple-lens {
        height: 95rem;
        width: 99rem;
        top: -10%;
        left: -60%;
        z-index: 0;
        transform: rotate(-180deg) scale(1.2); }
      .section__hero-container--2 .h2--absolute {
        position: absolute;
        left: -15rem;
        z-index: 99;
        text-align: end; }
      .section__hero-container--2 .img-box {
        position: relative; }
        .section__hero-container--2 .img-box img {
          width: 100%;
          position: absolute;
          top: 10rem;
          left: -15%;
          transform: scale(1.2);
          z-index: 3; }
        .section__hero-container--2 .img-box .img--man {
          mix-blend-mode: luminosity;
          z-index: 0; }
        .section__hero-container--2 .img-box .img--metrix {
          z-index: 0; }
        .section__hero-container--2 .img-box .img--absolute {
          width: 80%;
          left: -6%;
          mix-blend-mode: hard-light; }

.section__big-idea {
  background-color: #150e28;
  padding: 8rem 20rem 8rem 20rem;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  gap: 10rem; }
  .section__big-idea-img {
    flex-basis: 50%; }
  .section__big-idea-img-box {
    width: 100%;
    position: relative;
    isolation: isolate;
    text-align: center; }
    .section__big-idea-img-box .arrow,
    .section__big-idea-img-box .sata {
      position: absolute; }
    .section__big-idea-img-box .arrow {
      bottom: -5%;
      right: 0; }
    .section__big-idea-img-box .sata {
      top: 35%;
      left: -5%; }
    .section__big-idea-img-box-p {
      font-size: 2.4rem;
      font-weight: 700;
      text-align: center;
      line-height: normal;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-55%, -30%); }
  .section__big-idea-text {
    flex-basis: 50%; }
    .section__big-idea-text__header {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .section__big-idea-text__header .tertiary-heading span {
        display: block;
        color: #d434fe;
        margin-top: -2rem; }

.section__rules-guidelines {
  padding: 4rem 12rem 3rem 12rem;
  background-color: #150e28;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  gap: 15rem; }
  .section__rules-guidelines-img {
    flex-basis: 50%; }
  .section__rules-guidelines-img-box {
    width: 100%;
    position: relative;
    isolation: isolate;
    text-align: center; }
    .section__rules-guidelines-img-box .rules {
      width: 100%; }
    .section__rules-guidelines-img-box .ellipse {
      position: absolute;
      top: 16%;
      right: 19%;
      z-index: -1; }
  .section__rules-guidelines-text {
    flex-basis: 50%; }
    .section__rules-guidelines-text__header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .section__rules-guidelines-text__header .tertiary-heading span {
        display: block;
        color: #d434fe;
        margin-top: -2rem; }
      .section__rules-guidelines-text__header .star {
        position: absolute;
        bottom: -200%;
        right: -20%; }
      .section__rules-guidelines-text__header .star1 {
        position: absolute;
        top: -30%;
        left: 50%; }

.header {
  width: 100%;
  border-bottom: 1px solid rgba(21, 14, 40, 0.8);
  z-index: 1900; }

.navigation {
  width: 100%;
  padding: 6rem 12rem 3rem 12rem;
  background-color: #150e28;
  display: flex;
  align-items: center;
  gap: 16rem; }
  .navigation__logo {
    margin-right: auto;
    user-select: none;
    -webkit-user-select: none; }
  .navigation__nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6rem; }
    .navigation__nav-link:is(:link, :visited) {
      text-decoration: none;
      color: #fff;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: normal;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      transition: all 0.3s ease-out; }
    .navigation__nav-link:is(:active, :hover) {
      color: #8c8c8c; }
