//COLOR
$primary-color: linear-gradient(to right, #fe34b9, #903aff);
$secondary-color: #150e28;
$primary-color--1: #903aff;
$primary-color--2: #d434fe;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;
