.section__hero {
  position: relative;

  &-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;

    background-color: $secondary-color;
    padding: 4rem 12rem 3rem 12rem;
    overflow: hidden;

    &--1 {
      z-index: 99;

      .spark {
        margin-left: -1.5rem;
      }

      div {
        div:has(.hour, .minute, .second) {
          font-size: 6.4rem;
          user-select: none;
          -webkit-user-select: none;

          small {
            font-size: 1.6rem;
          }
        }
      }

      .purple-lens {
        top: -40%;
        left: -2%;
        z-index: -1;
      }
    }

    &--2 {
      position: relative;
      user-select: none;
      -webkit-user-select: none;

      .purple-lens {
        height: 95rem;
        width: 99rem;
        top: -10%;
        left: -60%;
        z-index: 0;
        transform: rotate(-180deg) scale(1.2);
      }

      .h2--absolute {
        position: absolute;
        left: -15rem;
        z-index: 99;

        text-align: end;
      }

      .img-box {
        position: relative;

        img {
          width: 100%;
          position: absolute;
          top: 10rem;
          left: -15%;
          transform: scale(1.2);
          z-index: 3;
          // mix-blend-mode: luminosity;
        }

        .img--man {
          mix-blend-mode: luminosity;
          z-index: 0;
        }

        .img--metrix {
          z-index: 0;
        }

        .img--absolute {
          width: 80%;
          left: -6%;
          // opacity: 70%;
          mix-blend-mode: hard-light;
        }
      }
    }
  }
}
