.section__big-idea {
  background-color: $secondary-color;
  padding: 8rem 20rem 8rem 20rem;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);

  gap: 10rem;

  &-img {
    flex-basis: 50%;
  }

  &-img-box {
    width: 100%;
    position: relative;
    isolation: isolate;
    text-align: center;

    .arrow,
    .sata {
      position: absolute;
    }

    .arrow {
      bottom: -5%;
      right: 0;
    }

    .sata {
      top: 35%;
      left: -5%;
    }

    &-p {
      font-size: 2.4rem;
      font-weight: 700;
      text-align: center;
      line-height: normal;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-55%, -30%);
    }
  }

  &-text {
    flex-basis: 50%;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .tertiary-heading span {
        display: block;
        color: $primary-color--2;
        margin-top: -2rem;
      }
    }
  }
}
