.section__hero {
  overflow: hidden;
  background-color: $secondary-color;
  padding: 4rem 12rem 3rem 12rem;
  isolation: isolate;

  border-bottom: 1px solid;
  border-color: rgba(21, 14, 40, 0.8);

  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  display: grid;
  grid-template-columns: 1.2fr 1fr;

  &-container--1 {
    // width: 60%;

    div {
      div:has(.hour, .minute, .second) {
        font-size: 6.4rem;

        small {
          font-size: 1.6rem;
        }
      }
    }
  }

  &-container--2 {
    // width: 40%;
    position: relative;
    user-select: none;
    -webkit-user-select: none;

    .h2--absolute {
      position: absolute;
      left: -15rem;

      text-align: end;
    }

    .img-box {
      position: relative;
      isolation: isolate;

      img {
        width: 100%;
        position: absolute;
        top: 10rem;
        left: -10rem;
        transform: scale(1.2);
      }

      .img--man {
        filter: grayscale(60%);
      }
    }

    // .img--absolute {
    //   position: absolute;
    //   z-index: 1;
    //   inset: 0;
    // }
  }
}
